.info_modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e616166b;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.modal{
    width:300px;
    min-height: 150px;
    background: #a4363e;
    padding: 50px 10px 20px 10px;
    border-radius: 30px;
    box-shadow: 5px 6px 0px -2px #620d15, -6px 5px 0px -2px #620d15,
      0px -2px 0px 2px #ee9191, 0px 10px 0px 0px #610c14,
      0px -10px 0px 1px #e66565, 0px 0px 180px 90px #0d2f66;
    position: relative;
}

.close_btn{
    position: absolute;
    top: -20px;
    right: 0px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 1px;
    background: radial-gradient(#84222b, #5e1e21);
    box-shadow: 0px 0px 0px 4px #7e1522;
}

.icon{
    font-size: 16px;
    color: white;
}

.message_container{
    background: radial-gradient(#fffbf3, #ffe19e);
  padding: 30px 10px 30px 10px;
  box-sizing: border-box;
  border-radius: 20px 18px 20px 18px;
  box-shadow: 0px 0px 0px 6px #5e1e21, 0px 0px 8px 6px #84222b,
    inset 0px 0px 15px 0px #614506, 6px 6px 1px 1px #e66565,
    -6px 6px 1px 1px #e66565;
  text-align: center;
}


.message{
    width: 100%;
    font-size: 24px;
    color: #461417;
    font-weight: 800;
    font-family: "Special Elite", sans-serif;
}


@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}